In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kurs\appdata\local\programs\python\python37-32\lib\site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\kurs\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\kurs\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in c:\users\kurs\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (1.16.0)
Requirement already satisfied: six>=1.5 in c:\users\kurs\appdata\local\programs\python\python37-32\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

<p style="font-size:2.5em; font-weight:bold;">Pandas</p>

<img src="http://pandas.pydata.org/_static/pandas_logo.png" style="width: 500px;" />

----
*pandas* to biblioteka z licencją BSD o otwartym kodzie źródłowym, zapewniająca wydajne, łatwe w użyciu struktury danych i analizę danych dla języka Python.

*pandas* to sponsorowany przez [NUMFocus](http://www.numfocus.org/open-source-projects.html) projekt. Pomoże to zapewnić pomyślny rozwój pand jako światowej klasy projektu o otwartym kodzie źródłowym.

---
Strony:  
http://pandas.pydata.org/  
  
https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python

**Kaggle Titanic**  
https://www.kaggle.com/c/titanic  
https://www.dataquest.io/course/kaggle-competitions

In [2]:
import pandas as pd  # konwencja
import numpy as np   
import os

In [3]:
!dir

 Wolumin w stacji C nie ma etykiety.
 Numer seryjny woluminu: 8C5A-2D9C

 Katalog: C:\Users\kurs\PycharmProjects\python_bootcamp\science

2019-01-14  20:33    <DIR>          .
2019-01-14  20:33    <DIR>          ..
2019-01-14  19:46    <DIR>          .ipynb_checkpoints
2019-01-07  20:13           121˙931 dog.png
2019-01-14  19:58    <DIR>          files_pandas_21_01_2017
2019-01-07  20:13             6˙302 index.jpeg
2019-01-14  18:49           243˙898 matplotlib_wprowadzenie.ipynb
2019-01-07  20:13           150˙858 monkey.bmp
2019-01-07  20:13           103˙768 monkey.png
2019-01-14  18:30           422˙538 numpy_bootcamp_zadania.ipynb
2019-01-14  20:33             7˙491 pandas_cwiczenia.ipynb
2019-01-14  20:33           660˙231 pandas_wprowadzenie.ipynb
2019-01-07  20:19               938 Untitled.ipynb
               9 plik(˘w)          1˙717˙955 bajt˘w
               4 katalog(˘w)  15˙405˙117˙440 bajt˘w wolnych

In [4]:
folder_path = './files_pandas_21_01_2017/'

# Basics

## Loading data

 

Interfejs I/O (we/wy) API pandas to zestaw wysoko poziomowanych funkcji czytających, takich jak pd.read_csv (), które zwykle zwracają obiekt pandas.

    * read_csv
    * read_excel
    * read_hdf
    * read_sql
    * read_json
    * read_msgpack (experimental)
    * read_html
    * read_gbq (experimental)
    * read_stata
    * read_sas
    * read_clipboard
    * read_pickle

Analogicznie Pandas oferuje zestaw funkcji zapisujących do różnych formatów

    * to_csv
    * to_excel
    * to_hdf
    * to_sql
    * to_json
    * to_msgpack (experimental)
    * to_html
    * to_gbq (experimental)
    * to_stata
    * to_clipboard
    * to_pickle

### CSV 

(Comma separater values) - popularny format danych tabelarycznych
https://pl.wikipedia.org/wiki/CSV_(format_pliku)

In [5]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))

In [6]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

### Zipped CSV

In [9]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv.zip'))
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### XLSX (Excel format)

In [10]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\kurs\appdata\local\programs\python\python37-32\lib\site-packages (1.2.0)

You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [11]:
data2 = pd.read_excel(os.path.join(folder_path, 'titanic_train.xlsx'))
data2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
data2.to_pickle(os.path.join(folder_path, 'titanic_train.pickle'))

### Pickle

https://docs.python.org/3/library/pickle.html

In [13]:
data3 = pd.read_pickle(os.path.join(folder_path, 'titanic_train.pickle'))
data3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Writing to file

### CSV
---
    data.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, 
                header=True, index=True, index_label=None, mode='w', encoding=None, 
                compression=None, quoting=None, quotechar='"', line_terminator='\n', 
                chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, 
                escapechar=None, decimal='.', **kwds)

In [14]:
data.to_csv(os.path.join(folder_path, 'titanic_train_test_save.csv'))

In [15]:
data.to_csv(os.path.join(folder_path, 'titanic_train_test_save.csv'), index=False)

### XLSX
---
    data.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, 
                  header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, 
                  merge_cells=True, encoding=None, inf_rep='inf', verbose=True)

In [16]:
# !pip install openpyxl

In [17]:
data.to_excel(os.path.join(folder_path, 'titanic_train_test_save.xlsx'))

### Pickle
---
    data.to_pickle(path)

In [18]:
data.to_pickle(os.path.join(folder_path, 'titanic_train_test_save.pickle'))

## Basic informations

### shape

In [19]:
data.shape

(891, 12)

### info()

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

In [21]:
data.info?

In [22]:
data.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

### describe()

In [23]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### columns

In [24]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### dtypes

In [25]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### Value Counts

In [26]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [27]:
data.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

## Podstawowe operacja

### wybieranie kolumn

In [28]:
data['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [29]:
data['Name', 'Survived']

KeyError: ('Name', 'Survived')

jeśli chcemy wybrać większą ilość kolumn, to podajemy ją jako listę - index staje się tu listą

In [ ]:
data[['Name', 'Survived']]

In [ ]:
data.Survived

In [ ]:
data[['Survived']]

### Wybieranie wierszy

In [ ]:
data[5:10]

### Wybieranie przez labele- loc[]
---
Ta funkcja wybiera bazując na labelkach **Index** i **Column**
**.loc[row, column]**

http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label

In [ ]:
data.loc[5]

In [ ]:
data.loc[5:10]  # wybieramy wiersze

In [ ]:
data.loc[5, 'Name']   # z wiersza wybieram wartość dla kolumny|

In [ ]:
data.loc[5:10, 'Name']  # z zakresu wierszy - wartość

In [ ]:
data.columns     # sprawdzamy Index kolumn

In [ ]:
data.loc[5:10, :'Pclass']

In [ ]:
data.loc[5:10, 'Pclass':'Age']

In [ ]:
data.loc[5:10, ['Name', 'Pclass', 'Survived']]

### Wybieranie przez pozycje - iloc[]
---
 
**.iloc[row, column]**

http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer

In [ ]:
data.iloc[5]

In [ ]:
data.iloc[5:10]

In [ ]:
# data.iloc[5, 'Name']  # Won't work as it selects only based on location

In [ ]:
data.iloc[5, 3]

In [ ]:
data.iloc[5:10, 3]

In [ ]:
data.iloc[5:10, :3]

Możemy też użyć np jakiegoś generatora - jak range - poniżej  wybór co piątego wiersza z zakresu 0-50

In [ ]:
data.iloc[range(0, 50, 5), [1, 3]]

równoważny zapis to np:

In [ ]:
data.iloc[:50:5, [1, 3]]

można odliczać od końca:

In [ ]:
data.iloc[-10:]

Jeśli nie znamy pozycji a znamy labelkę, to możemy użyć funkcji `get_slice_bound`

In [ ]:
data.columns.get_slice_bound?

In [ ]:
data.columns.get_slice_bound('Name', 'right', 'ix')

In [ ]:
data.iloc[:5, :data.columns.get_slice_bound('Name', 'right', 'ix')]

## Exercises

### Load `'titanic_train.csv'` CSV file and save last 5 rows in Excel format

In [ ]:
df = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))

In [ ]:
df[-5:].to_excel(os.path.join(folder_path, 'titanic_last_5.xlsx'))

### Load Excel file from previous exercise and save it again with only first four columns

In [ ]:
df = pd.read_excel(os.path.join(folder_path, 'titanic_last_5.xlsx'))

In [ ]:
df.iloc[:,:4].to_excel(os.path.join(folder_path, 'titanic_last_5_4_cols.xlsx'))

### Test how **loc** and **iloc** works (be creative :) )

In [ ]:
df.loc[:,"Pclass"]

In [ ]:
df.loc[1:1]

In [ ]:
df.iloc[1:1]

In [ ]:
df.iloc[1]

In [ ]:
df.loc[887]

# Loading CSV file

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))

In [ ]:
data.head()

In [ ]:
data.Survived.value_counts()

In [ ]:
data.dtypes

In [ ]:
data.info(memory_usage='deep')  # (memory_usage='deep')

## Zmiana typów danych w czasie odczytu

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool})

In [ ]:
data.info(memory_usage='deep')

zauważmy delikatny zysk pamięci

### Dane kategoryczne
---
Kategorie są typem danych Pandas, które odpowiadają kategorycznym zmiennym w statystykach: 
Zmienna kategoryczna - to zmienna, która może przyjmować tylko ograniczoną i zwykle stałą liczbę możliwych wartości (kategorie, poziomy w R).
Przykładami są płeć, klasa społeczna, typy krwi, przynależność do kraju, czas obserwacji lub oceny za pomocą skali Likerta.

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool})

In [ ]:

data['Sex'] = data['Sex'].astype("category")

In [ ]:
data.loc[0, "Sex"]

In [ ]:
data.Sex

In [ ]:
data.Sex = data.Sex.cat.add_categories("unknow")

In [ ]:
data.Sex

In [ ]:
data.loc[0, 'Sex'] = 'unknow'

In [ ]:
data.info(memory_usage='deep')

### Mniejszy dtype

In [ ]:
data.Pclass.max()

In [ ]:
#data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool, 'Sex': 'category', 'Pclass': np.int8})
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool,  'Pclass': np.int8})

In [ ]:
data.info(memory_usage='deep')

In [ ]:
data.PassengerId.max()

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool, 'Sex': 'category', 'Pclass': np.int8, 'PassengerId': np.int16})

In [ ]:
data.info(memory_usage='deep')

In [ ]:
data.to_pickle(os.path.join(folder_path, 'titanic_train.pickle'))

## Limit rows

Reading first 100 rows

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), nrows=100)
data.shape

## Definiowanie nazwa kolumn (header)

```
names : array-like, default None
    List of column names to use. If file contains no header row, then you
    should explicitly pass header=None. Duplicates in this list are not
    allowed unless mangle_dupe_cols=True, which is the default.
```

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), skiprows=1)
data.head()

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), skiprows=1, names=['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 
                                                                                     'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])
data.head()

## ustawianie indexu (wiersz)

```
index_col : int or sequence or False, default None
    Column to use as the row labels of the DataFrame. If a sequence is given, a
    MultiIndex is used. If you have a malformed file with delimiters at the end
    of each line, you might consider index_col=False to force pandas to _not_
    use the first column as the index (row names)
```

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), index_col='PassengerId')
data.head()

## Wypełnianie wartościami NaN

```
.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)
```

In [33]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
data.Cabin.fillna('Deck')   # wypełniamy NaN jako "Deck"

0             Deck
1              C85
2             Deck
3             C123
4             Deck
5             Deck
6              E46
7             Deck
8             Deck
9             Deck
10              G6
11            C103
12            Deck
13            Deck
14            Deck
15            Deck
16            Deck
17            Deck
18            Deck
19            Deck
20            Deck
21             D56
22            Deck
23              A6
24            Deck
25            Deck
26            Deck
27     C23 C25 C27
28            Deck
29            Deck
          ...
861           Deck
862            D17
863           Deck
864           Deck
865           Deck
866           Deck
867            A24
868           Deck
869           Deck
870           Deck
871            D35
872    B51 B53 B55
873           Deck
874           Deck
875           Deck
876           Deck
877           Deck
878           Deck
879            C50
880           Deck
881           Deck
882           Deck
883           Deck
884           Deck
885           Deck
886           Deck
887            B42
888           Deck
889           C148
890           Deck
Name: Cabin, Length: 891, dtype: object

In [35]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
data.Cabin.fillna('Deck', inplace=True)

In [37]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Deck,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Deck,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Deck,S

In [38]:
data.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [39]:
sr = round(data.Age.mean(), 0)
sr

30.0

In [40]:
data.Age.fillna(30.0, inplace=True)

In [41]:
data.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5      30.0
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17     30.0
18     31.0
19     30.0
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26     30.0
27     19.0
28     30.0
29     30.0
       ...
861    21.0
862    48.0
863    30.0
864    24.0
865    42.0
866    27.0
867    31.0
868    30.0
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878    30.0
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888    30.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          891 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

## Exercises (opcjonalnie)

### Load *'titanic_train.csv'* file, with *category* type for all columns that are compatible with this type.

### Fill *NaN* values in *Age* column with mean value of this column.

### Fill *NaN* values in *Embarked* with most common location.

# Tworzenie DataFrame i Series

## DataFrame
---
```
class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)[source]
```
Dwuwymiarowa, potencjalnie heterogeniczna, tabelaryczna struktura danych ze znakowanymi osiami (wiersze i kolumny).
Operacje arytmetyczne są wyrównane na etykietach zarówno wiersza, jak i kolumny. 
Można go traktować jako kontener podobny do słownika list obiektów .
Podstawowa struktura danych Pandas
  
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [43]:
d = {'col1': [1,2], 'col2': [3,4]}

In [44]:
df = pd.DataFrame(d)

In [45]:
df

   col1  col2
0     1     3
1     2     4

In [46]:
df2 = pd.DataFrame([[1,2], [3,4]])
df2

   0  1
0  1  2
1  3  4

In [47]:
df3 = pd.DataFrame([[1,2], [3,4]], columns=['A', 'B'])
df3

   A  B
0  1  2
1  3  4

In [48]:
df4 = pd.DataFrame([[1,2], [3,4]], columns=['A', 'B'], index=[5,10])
df4

    A  B
5   1  2
10  3  4

## Series
---
```
class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
```
Jednowymiarowy ndarray z etykietami osi (w tym szeregami czasowymi).

Etykiety nie muszą być unikatowe, ale muszą być dowolnymi znanymi typami. Obiekt obsługuje zarówno indeksowanie oparte na liczbach całkowitych jak i etykietach i udostępnia wiele metod wykonywania operacji obejmujących indeks.
Metody statystyczne z ndarray zostały nadpisane, aby automatycznie wykluczyć brakujące dane (obecnie reprezentowane jako NaN)

Operacje między wyrównaniem szeregów (+, -, /,, *) w oparciu o powiązane z nimi wartości indeksu - nie muszą mieć tej samej długości. Indeks wyników będzie uporządkowanym połączeniem dwóch indeksów.

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

In [49]:
s1 = pd.Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [50]:
s2 = pd.Series(np.arange(10), index=np.arange(10,20))
s2

10    0
11    1
12    2
13    3
14    4
15    5
16    6
17    7
18    8
19    9
dtype: int32

In [51]:
s3 = pd.Series({'idx1':2, 'idx2':4, 'idx3':6})
s3

idx1    2
idx2    4
idx3    6
dtype: int64

### Creating DataFrame from Series

In [52]:
s3.to_frame()  # name

      0
idx1  2
idx2  4
idx3  6

In [53]:
s1 = pd.Series(np.arange(10), index=np.arange(10,20))
s2 = pd.Series(np.arange(30, 40), index=np.arange(10,20))

In [54]:
pd.DataFrame({'col1':s1, 'col2':s2})

    col1  col2
10     0    30
11     1    31
12     2    32
13     3    33
14     4    34
15     5    35
16     6    36
17     7    37
18     8    38
19     9    39

In [55]:
s1 = pd.Series(np.arange(10), index=np.arange(10,20))
s2 = pd.Series(np.arange(30, 40), index=np.arange(19,9,-1))

In [56]:
pd.DataFrame({'col1':s1, 'col2':s2})

    col1  col2
10     0    39
11     1    38
12     2    37
13     3    36
14     4    35
15     5    34
16     6    33
17     7    32
18     8    31
19     9    30

# Indeksowanie i ustawianie danych

## Simple selection

In [57]:
data['Cabin'] == 'Deck'

0       True
1      False
2       True
3      False
4       True
5       True
6      False
7       True
8       True
9       True
10     False
11     False
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21     False
22      True
23     False
24      True
25      True
26      True
27     False
28      True
29      True
       ...
861     True
862    False
863     True
864     True
865     True
866     True
867    False
868     True
869     True
870     True
871    False
872    False
873     True
874     True
875     True
876     True
877     True
878     True
879    False
880     True
881     True
882     True
883     True
884     True
885     True
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [58]:
data.loc[data['Cabin'] == 'Deck']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Deck,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Deck,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Deck,S
5,6,0,3,"Moran, Mr. James",male,30.0,0,0,330877,8.4583,Deck,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,Deck,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,Deck,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,Deck,C
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,Deck,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,Deck,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,Deck,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,Deck,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,Deck,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,30.0,0,0,244373,13.0000,Deck,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,Deck,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,30.0,0,0,2649,7.2250,Deck,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,Deck,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,Deck,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,Deck,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,Deck,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,30.0,0,0,2631,7.2250,Deck,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,30.0,0,0,330959,7.8792,Deck,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,30.0,0,0,349216,7.8958,Deck,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,Deck,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,30.0,0,0,335677,7.7500,Deck,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,Deck,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,Deck,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,Deck,S
36,37,1,3,"Mamee, Mr. Hanna",male,30.0,0,0,2677,7.2292,Deck,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,Deck,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,Deck,S
...,...,...,...,...,...,...,...,...,...,...,...,...
852,853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,Deck,C
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,Deck,S
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,Deck,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,Deck,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,Deck,C
859,860,0,3,"Razi, Mr. Raihed",male,30.0,0,0,2629,7.2292,Deck,C
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,Deck,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,Deck,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,30.0,8,2,CA. 2343,69.5500,Deck,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,Deck,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,Deck,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,Deck,C
868,869,0,3,"van Melkebeke, Mr. Philemon",male,30.0,0,0,345777,9.5000,Deck,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,Deck,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,Deck,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,Deck,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,Deck,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,Deck,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,Deck,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,Deck,S
878,879,0,3,"Laleff, Mr. Kristo",male,30.0,0,0,349217,7.8958,Deck,S
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,Deck,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,Deck,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,Deck,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,Deck,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,Deck,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Deck,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,Deck,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,30.0,1,2,W./C. 6607,23.4500,Deck,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Deck,Q

In [59]:
data[data['Cabin'] == 'Deck']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Deck,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Deck,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Deck,S
5,6,0,3,"Moran, Mr. James",male,30.0,0,0,330877,8.4583,Deck,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,Deck,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,Deck,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,Deck,C
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,Deck,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,Deck,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,Deck,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,Deck,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,Deck,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,30.0,0,0,244373,13.0000,Deck,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,Deck,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,30.0,0,0,2649,7.2250,Deck,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,Deck,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,Deck,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,Deck,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,Deck,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,30.0,0,0,2631,7.2250,Deck,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,30.0,0,0,330959,7.8792,Deck,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,30.0,0,0,349216,7.8958,Deck,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,Deck,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,30.0,0,0,335677,7.7500,Deck,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,Deck,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,Deck,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,Deck,S
36,37,1,3,"Mamee, Mr. Hanna",male,30.0,0,0,2677,7.2292,Deck,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,Deck,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,Deck,S
...,...,...,...,...,...,...,...,...,...,...,...,...
852,853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,Deck,C
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,Deck,S
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,Deck,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,Deck,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,Deck,C
859,860,0,3,"Razi, Mr. Raihed",male,30.0,0,0,2629,7.2292,Deck,C
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,Deck,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,Deck,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,30.0,8,2,CA. 2343,69.5500,Deck,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,Deck,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,Deck,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,Deck,C
868,869,0,3,"van Melkebeke, Mr. Philemon",male,30.0,0,0,345777,9.5000,Deck,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,Deck,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,Deck,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,Deck,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,Deck,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,Deck,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,Deck,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,Deck,S
878,879,0,3,"Laleff, Mr. Kristo",male,30.0,0,0,349217,7.8958,Deck,S
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,Deck,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,Deck,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,Deck,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,Deck,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,Deck,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Deck,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,Deck,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,30.0,1,2,W./C. 6607,23.4500,Deck,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Deck,Q

## Multiple conditions

In [ ]:
data[(data['Cabin'] == 'Deck') & (data['Pclass']==2)]

## Negation
---
**~**

In [ ]:
data[~(data['Cabin'] == 'Deck')]

## Str

In [ ]:
data[(data['Cabin'].str.startswith('C'))]

## List
---
**isin([])**

In [ ]:
data[data['Cabin'].isin(['C85', 'C123'])]

## Exercises

### Create 3 *Series* with different indexes that overlap a bit (i.e. 1-10, 5-15, 10-20). Create DataFrame from them and see what happens.

### Display passengers with *Age* above 50

### Display passengers that *Embarked* at location *S* and are *female*

### Display passengers that paid for ticket more than 50 and are not in first class

### Display all passengers with *Names* that contain *'Johnson'* (it's a surname)

# Loading ARFF file (Weka format)

In [ ]:
from scipy.io import arff

In [ ]:
with open(os.path.join(folder_path, 'iris.arff'), 'rt') as f:
    data = arff.loadarff(f)

In [ ]:
pd.DataFrame(data[0])

# Dodatkowe ćwiczenia

Korzystając z pliku `matches.csv` zawierającego dane o rozgrywkach piłkarskich:

1. Znajdź wszystkie mecze pomiędzy dwoma wybranymi drużynami w latach 2010-2015.

In [ ]:
data = pd.read_csv('../../data/matches.csv', parse_dates=['date'])
data[
    ((data.home_team == 'Legia Warszawa') | (data.away_team == 'Legia Warszawa')) & 
    ((data.home_team == 'Lech Poznań') | (data.away_team == 'Lech Poznań')) & 
    (data.date.dt.year.isin([2010, 2011, 2011, 2013, 2014, 2015]))
]

2. Znajdź 10 meczów z największą różnicą bramek.

In [ ]:
data['goals_diff'] = abs(data['home_team_goal'] - data['away_team_goal'])
data.sort_values('goals_diff', ascending=False)[:10]

3. Policz liczbę zdobytych i straconych bramek na sezon dla wybranej drużyny. Narysuj wykres obrazujący uzyskane wyniki.

In [ ]:
team = 'Legia Warszawa'

In [ ]:
team_matches = data[(data['home_team'] == 'Legia Warszawa') | (data['away_team'] == 'Legia Warszawa')]
team_matches

In [ ]:
team_matches = team_matches.reset_index()
team_matches

In [ ]:
team_matches['team_goals'] = team_matches.apply(lambda x: x.home_team_goal if x.home_team == team else x.away_team_goal, axis=1)

In [ ]:
goals_per_season = team_matches.groupby('season').aggregate({'team_goals': sum, 'opponent_goals': sum})

In [ ]:
%matplotlib inline

In [ ]:

goals_per_season.plot(kind='bar', stacked=True)

4. Policz średnią liczbę bramek przypadającą na jeden mecz w każdej lidze. Narysuj wykres obrazujący uzyskane wyniki.

In [ ]:
data['total_goals'] = data.home_team_goal + data.away_team_goal

In [ ]:
goals_per_country = data.groupby('country').agg({'total_goals': sum})

In [ ]:
matches_per_country = data['country'].value_counts()

In [ ]:
goals_per_match = goals_per_country.total_goals / matches_per_country

In [ ]:
goals_per_match.sort_values(ascending=False).plot(
    kind='bar', 
    title='Goals per match (top leagues in Europe)', 
    figsize=(10,5),
)